<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Cucumber Project" parallel="tests" thread-count="3" data-provider-thread-count="2" >
    <!--<parameter name="browser"  value="Chrome"/>
    <test name="Cucumber" >
        <classes>
            <class name="testRunners.runner"/>
        </classes>
    </test>-->
    <!--<listeners>
        <listener class-name="XMLFiles.extendReportSet.xml" />
    </listeners>-->
    <test name="test on edge">
    <parameter name="browser" value="Edge"></parameter>
    <classes>
        <class name="testRunners.runner"/>
    </classes>
</test> <!-- Test1 -->

<test name="test on chrome">
<parameter name="browser" value="Chrome"></parameter>
<classes>
    <class name="testRunners.runner"/>
</classes>
</test> <!-- Test1 -->
</suite>